body {
	background-color:#eee;
	margin:20px;

}

main {
	background-color:#fff;
	padding:30px;
}

.form-group {
	display:inline-block;
	padding-left:15px;
}

label {
	display:block;
}

select {
	margin-top:3px;
}

input.few-digits {
	margin-left:20px;
	width:4em;
}

input.invalid {
	color:#d9534f;
	outline-color:red;
}
.toggler {
	margin-left:30px;
}
.returns {
	border-top:1px solid #ccc;
	margin-top:1em;
	padding-top:1em;
}
tbody tr:nth-child(odd) {
	background-color:#eee;
}
th {
	padding:5px 45px 5px 5px;
	text-align: center;
}
td {
	padding:5px 55px 5px 5px;
	text-align: right;
}
td:first-child {
	text-align:left;
}
td.yearGain {
	padding-right: 65px;
}
tr:last-of-type > td:last-of-type {
	color:green;
}