<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue - Dividend Reinvestment Calc</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/calc.css">
</head>
<body>
	<main>
		<h3>Dividend Reinvestment Calculator</h3>
		<section id="calc">
		<form v-on:submit.prevent>
			<div class="form-group">
				<label for="amount-invested">Amount Invested</label>
				$<input v-model="amount" v-bind:class="{ invalid: isInvalidAmount }" type="number" id="amount-invested">
			</div>
			<div class="form-group">
				<label for="divident-rate">Dividend Yield</label>
				<input v-model="rate" v-bind:class="{ invalid: isInvalidRate }" class="few-digits" type="number" id="divident-rate">%
			</div>
			<div class="form-group">
				<label for="number-years">Number of Years</label>
				<select v-model="years" id="number-years">
					<option>5</option>
					<option>10</option>
					<option>15</option>
					<option>20</option>
					<option>25</option>
				</select>
			</div>
			<div class="form-group">
				<button id="calculate" v-on:click="calculateReturns">Calculate Returns</button>
				<button id="reset" v-on:click="resetForm">Reset</button>
			</div>
		</form>
		<div v-show="showReturns" class="returns">
			<p>Returns achieved from investing <strong>{{ amount | currency }}</strong> at a <strong>{{ rate }}%</strong> rate for <strong>{{ years }}</strong> years.</p>
			<table>
				<thead>
					<tr>
						<th>Year</th>
						<th>This Year's Return</th>
						<th>Total Returns</th>
						<th>Total Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="year in yearData">
						<td>{{ year.year }}</td>
						<td class="yearGain">{{ year.yearGain | currency }}</td>
						<td>{{ year.totalReturns | currency }}</td>
						<td>{{ year.totalMoney | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</section>
	</main>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="js/calc.js"></script>
</body>
</html>