<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue - Dividend Calc</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/calc.css">
</head>
<body>
	<main>
		<h3>Dividend Reinvestment Calculator</h3>
		<section id="calc">
		<form v-on:submit.prevent>
			<div class="form-group">
				<label for="amount-invested">Amount Invested</label>
				$<input v-model="amount" v-bind:class="{ invalid: isInvalidAmount }" type="number" step="0.01" id="amount-invested">
			</div>
			<div class="form-group">
				<label for="divident-rate">Dividend Yield</label>
				<input v-model="rate" v-bind:class="{ invalid: isInvalidRate }" class="few-digits" type="number" step="0.01" id="divident-rate">%
			</div>
			<div class="form-group">
				<label for="divident-growth">Dividend Growth</label>
				<input v-model="rateGrowth" v-bind:class="{ invalid: isInvalidRateGrowth }" class="few-digits" type="number" step="0.01" id="divident-growth">%
			</div>
			<div class="form-group">
				<label for="number-years">Years</label>
				<select v-model="years" id="number-years">
					<option>5</option>
					<option>10</option>
					<option>15</option>
					<option>20</option>
					<option>25</option>
				</select>
			</div>
			<div class="form-group">
				<label for="no-drip">No DRIP</label>
				<input v-model="noDrip" type="checkbox" id="no-drip">
			</div>
			<div class="form-group">
				<label for="times-compounded">Reinvestment Period</label>
				<select v-model="timesCompound" id="times-compounded">
					<option value="4">Quarterly</option>
					<option value="1">Yearly</option>
					<option value="12">Monthy</option>
				</select>
			</div>
			<div class="button-group">
				<button id="calculate" v-on:click="calculateReturns">Calculate Returns</button>
				<button id="reset" v-on:click="resetForm">Reset</button>
				<button v-if="yearData.length > 0" v-on:click="showReturns = !showReturns" class="toggler">
					<span v-if="showReturns">V</span><span v-else>O</span>
				</button>
			</div>
		</form>
		<div v-show="showReturns" class="returns">
			<p>
				Returns achieved from investing <strong>{{ amount | currency }}</strong> at a <strong>{{ rate }}%</strong> rate for <strong>{{ years }}</strong> years
				(<span v-if="noDrip">no</span><span v-else>with</span> DRIP).
			</p>
			<table>
				<thead>
					<tr>
						<th>Year</th>
						<th>Avg Rate</th>
						<th>Year's Return</th>
						<th>Total Returns</th>
						<th>Total Value</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="year in yearData">
						<td>{{ year.year }}</td>
						<td class="yearGain">{{ year.avgRate }}%</td>
						<td class="yearGain">{{ year.yearGain | currency }}</td>
						<td>{{ year.totalReturns | currency }}</td>
						<td>{{ year.totalValue | currency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</section>
	</main>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="js/calc.js"></script>
</body>
</html>